@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

html, body {
    height: 100%;
    scroll-behavior: smooth;

}

.a {
    position: absolute;
    top: 215px;
    left: 5px;
    color: white;
    
}

header {
    /* background-color: rgb(234, 252, 196); */
    background-image: url('header_img.jpg');
    height: 250px;
    background-size: cover;
    margin: 0%;
    
    
    }

body {
    background-color: rgb(245, 240, 223);
    margin: 0%;
    
    }

    footer {
        background-color: rgb(234, 252, 196);
        font-size: 20px;
        padding-top: 3px;
        padding-left: 10px;
        
    
        }

    nav {
        display: flex;
        justify-content: center;
        
         }

    input[type=search] {
     height: 35px;
     width: 500px;
     border-radius: 20px;
     padding-left: 20px;
     border: none;
     margin-top: 200px;
    
    }
    
    input[type=submit] {
        width: 60px;
        height: 35px;
        border-radius: 10px;
        border: 1px solid black;
        
        
    }

    input[type=reset] {
        width: 60px;
        height: 35px;
        border-radius: 10px;
        border: 1px solid black;
    }

    input[type=datetime-local] {
        width: 400px;
    }

    .form {

        width: 400px;
        height: 35px;
        border-radius: 10px;
        border: none;
        box-shadow: 5px 5px 5px rgb(160, 160, 160);
        text-align: center;
        
        
    }


    select {
        width: 400px;
    }

    .radio_btn {
        font-size: 25px;
    }

    

    li {
        list-style: none;
    }

    .titlu {
    font-family: Roboto Mono;
    font-weight: 400;
    text-align: center;
    margin-top: 0%;
    
    
    }

    #titlu2 {
        margin: 0%;
    }

    .descriere {
        font-family: Playwrite IT Moderna;
        font-size: 18px;
        text-align: center;
        padding: 0 5px;
        
    
        }
    

     .text_links {

        font-family: Playwrite IT Moderna;
        font-size: 18px;
        text-align: center;
        
     }

     .img_centru {
        display: flex;
        justify-content: center;
        
      }

     .imagini {
    
        border-radius: 15px;
        width: 45vw;
        cursor: pointer;
        transform: scale(1);
        transition: all 200ms;
        /* width: 800px;
        height: 450px; */

     }


     .imagini:hover {
        box-shadow: 15px 15px 15px rgb(160, 160, 160);
        transform: scale(0.95);
     }


     .ads_img {

        display: flex;
        justify-content: space-evenly;
        margin: 30px 30px;
        
        
         
        }

     .ads_style:hover {
        box-shadow: 15px 15px 15px rgb(160, 160, 160);
        transform: scale(0.95);
        }

     .catedrala {
        background-image: url('catedrala.jpg');  
        width: 20vw;
        height: 25vw;
        border-radius: 8px;
        background-size: cover; 
        position: relative;
        cursor: pointer;
        transform: scale(1);
        transition: all 200ms;
        
       
        }


     .Parcul_Stefan {
        background-image: url('stefan-cel-mare-statue.jpg');
        width: 20vw;
        height: 25vw;
        border-radius: 8px;
        background-size: cover; 
        position: relative;
        cursor: pointer;
        transform: scale(1);
        transition: all 200ms;
     }

     .muzeu {
        background-image: url('muzeu\ national.jpg');
        width: 20vw;
        height: 25vw;
        border-radius: 8px;
        background-size: cover; 
        position: relative;
        cursor: pointer;
        transform: scale(1);
        transition: all 200ms;
     }

     .cojusna {
        background-image: url('cojusna.jpg');
        width: 20vw;
        height: 25vw;
        border-radius: 8px;
        background-size: cover; 
        position: relative;
        cursor: pointer;
        transform: scale(1);
        transition: all 200ms;
        
     }

     
     .ads_link {
        position: absolute;
        bottom: 5px;
        /* top: 240px; */
        color: white;
        font-size: 20px;
        padding: 13px 13px;
        font-weight: bold;
        
        }

     

     .media {
        border-radius: 15px;
        width: 50vw;
        height: 28vw;
        cursor: pointer;
        
        
     }

     .video_centru {

        display: flex;
        justify-content: center;

     }



     @media (max-width: 480px) {
        
        .imagini {
         width: 80vw;
        
         }


        .media {
            width: 80vw;
            height: 40vw;

        }


        .ads_img {
            flex-direction: column;
            gap: 20px;

            section {
                width: 100%;
            }
        }
        

        .ads_style {
            width: 100%;
            height: 50vh;
        }

        }

     @media (max-width: 790px) {

        input[type=search] {
            width: 280px;
        };

        .imagini {
            width: 80vw;
        }

        .media {
            width: 80vw;
            height: 40vw;
        }

        .ads_img {
            flex-direction: column;
            gap: 20px;

            section {
                width: 100%;
            }
        }
        

        .ads_style {
            width: 100%;
            height: 50vh;
        }

        
        }

        
      @media (min-width: 769px) {

        
     } 


      @media (min-width: 1280px ) {
        
        .imagini {
            width: 45vw;
        }

        .media {
            width: 50vw;
            height: 28vw;
        }
        

     }
     